{erl_opts, [debug_info]}.

{extend_start_script,true}.

{deps, [
  {cowboy,  "2.9.0"},
  {jiffy,   "1.1.1"},
  {uuid, {git,"https://github.com/okeuday/uuid.git", {branch, "master"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [backend]}
]}.


%% == Releases ==

{relx, [{release, {backend, "0.0.1"},
         [backend]},
        {mode, prod},
        {dev_mode, false},
        {include_erts, false},

        {extended_start_script, true}]}.